@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;600;900&family=Roboto+Condensed:wght@900&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #252525;
  --secundary: #fff;
  --tertiary: #273b42;
}

.branco {
  color: #fff;
  z-index: 5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#273b42, #000);
  transition: all 0.2s;
}

/*CLASS*/
.container {
  max-width: 95%;
}

/* Define a cor do boas vindas no JavaScript */
.horario {
  color: #ffffff;
}

.title {
  width: 100%;
  float: left;
  font-weight: 900;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 0;
}

.title.center {
  text-align: center;
}

/*Botão Padrao Inicio*/
.btn {
  padding: 10px 15px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  text-align: center;
  border: 1px solid #fff;
  overflow: hidden !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098ff;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.btn:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.btn:hover {
  border: 1px solid #fff;
  color: #000 !important;
}

.btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: var(--secundary);
  position: absolute;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: var(--primary);
  position: absolute;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn:hover::before,
.btn:hover::before {
  opacity: 1;
  width: 120%;
}

.btn:hover::after,
.btn:hover::after {
  opacity: 1;
  width: 150%;
}

/*Botão Padrao Fim*/

/*HEADER*/

.header_welcome {
  padding: 0.5em 0;
  background-color: var(--tertiary);
  text-align: center;
}

.header_welcome .title {
  padding: 0;
  color: #fff;
  font-size: 0.7em;
  text-transform: none;
  overflow: hidden;
}

.header_welcome .destaque {
  color: #fff;
  text-transform: uppercase;
  filter: drop-shadow(-5px 5px 10px #999);
}

.main_header {
  z-index: 99;
  transition: 0.5s;
}

.main_header.fixed {
  position: fixed;
  opacity: 60%;
  transition: 0.5s;
}

.fixed + .main_content {
  padding-top: 70px;
}

.main_header .content {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header .agendar-horario {
  text-transform: uppercase;
  color: #fff;
  background-color: #292929dd;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 5px 5px 15px #000;
  text-decoration: none;
  border-bottom: 1px solid black;
  line-height: 0.2;
  border-radius: 1em;
  box-shadow: 0 0 8px 5px #000;
  transition: color 1s, background-color 1s;
  animation: mexer-agendar 1.2s ease-in-out infinite both alternate;
}

@keyframes mexer-agendar {
  0% {
    transform: scale(80%);
    color: #fff;
  }

  to {
    transform: scale(100%);
    color: rgb(255, 0, 0);
    background-color: var(--primary);
  }
}

.mobile_action {
  color: #444444;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 45px;
  font-size: 1.8em;
  float: right;
  cursor: pointer;
  margin: 15px 8px;
  overflow: hidden;
}

.mobile_action.active {
  color: var(--primary);
}

/*MENU*/

/*1279PX BREAKPOINT - 1279 dividido por 16 = 79.9375em*/
@media (max-width: 79.9375em) {
  .main_header_nav {
    position: fixed;
    left: -100%;
    background-color: var(--primary);
    top: 0;
    width: 50%;
    min-width: 200px;
    max-width: 360px;
    max-height: min-content;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.75);
    z-index: 99;
    transition: 1s;
  }

  .main_header_nav_item {
    float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px #273b42 solid;
    font-size: 1.5em;
  }

  .main_header_nav_item > a {
    float: left;
    width: 100%;
    padding: 0.5em 0;
    text-decoration: none;
    color: var(--secundary);
    font-size: 1em;
    text-align: center;
  }

  .main_header_nav_item:hover,
  .main_header_nav_item > a:hover {
    background-color: #4a688e;
    color: #fff;
  }

  .main_header_nav_item span {
    width: 25px;
    height: 25px;
    line-height: 28px;
    text-align: center;
    font-size: 1.2em;
    float: right;
    display: block;
  }

  .main_header_nav-abrir {
    left: 0px;
    transition: 1s;
  }
}

/*PAG*/
.coluna {
  display: flex;
}

.info.design {
  padding-left: 80px;
  background-image: url("../uploads/background/post.png");
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1.5em;
}

.info p {
  padding: 0.2em 0;
}

.info-redes {
  padding-top: 1em;
}

/*Chamada*/
.section-chamada {
  padding: 0em 0;
  background-color: #fff;
}

.section-chamada .content {
  width: 100%;
  padding: 0;
  margin: 0;
}

.topoPag {
  width: 100%;
  height: 100%;
  background-color: transparent;
  float: left;
  position: relative;
  overflow: hidden;
}

.topoPag .mascara {
  overflow: hidden;
  position: relative;
}

.topoPag .centraliza {
  width: 90%;
  height: auto;
  position: absolute;
  bottom: 40%;
}

.topoPag .img-mobile {
  width: 100%;
  height: 20em;
}

.topoPag .img-desktop {
  display: none;
}

.main_content .branco {
  display: none;
}

.topoPag .centraliza h1 {
  width: 100%;
  font-size: 1.5em;
  float: left;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(5px 5px 5px #000);
}

/*Serviços*/

.section-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0 1.5em;
}

.servicos .servicos-img {
  border-radius: 10%;
  box-shadow: 0 0 10px 2px #0009;
  overflow: hidden;
}

.servicos .appFoto:hover {
  opacity: 100%;
  transform: scale(120%);
}

.servicos .appFoto {
  height: 18em;
  width: 18em;
  opacity: 50%;
  transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
}

.servicos .descricao {
  background-color: transparent;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  font-size: 1.5em;
  color: var(--primary);
}

.section-servicos .servicos_separator {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 2em;
  box-shadow: 0px 2px 5px #000;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}

/*Fim de Serviços*/

/* Começa valores */
.section-valores {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secundary);
  padding-top: 2em;
  padding-bottom: 5em;
}

.section-valores .title {
  text-align: center;
}

.section-valores_tabela {
  border-spacing: 0;
  color: #fff;
  background-color: var(--tertiary);
  border-radius: 10px;
  overflow: hidden;
  padding: 0.4em;
  box-shadow: 0 0 20px 5px #fff;
}

.section-valores_tabela th {
  text-transform: uppercase;
  font-size: 1.2em;
}

.section-valores_tabela td {
  font-size: 1.2em;
}

.section-valores_tabela th,
.section-valores_tabela td {
  border: 1px solid #fff;
  padding: 0.5em 1em 0.5em 0.2em;
}

.section-valores_tabela-2 {
  margin-top: 15px;
}

/* Termina valores */

/* Começa localizacao */
.section-localizacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0 2.5em 0;
  margin: 1em;
}

.section-localizacao .content {
  width: 100%;
  box-shadow: 0 0 5px#000;
}

.section-localizacao .map {
  width: 100%;
  height: 15.62em;
  border-radius: 1em;
}

/* Termina localizacao */

/*FOOTER*/
.main_footer {
  background-color: var(--tertiary);
  color: #fff;
  display: flex;
  justify-content: center;
}

.main_footer .title {
  padding-bottom: 2.6em;
}

.footer_centraliza .info {
  font-size: 3em;
}

.main_footer .content {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 5rem 0;
}

.main_footer .info {
  font-size: 1.2em;
}

.main_footer .icons_links {
  text-decoration: none;
  color: inherit;
  transition: color 0.6s;
}

.main_footer .icons_links:hover {
  color: #fff5;
}

/*350PX BREAKPOINT*/
/*350 dividido por 16 = 30em*/
@media (min-width: 21.87em) {
  .header_welcome .title {
    font-size: 0.8rem;
  }
}

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width: 30em) {
  .header_welcome .title {
    font-size: 1.1rem;
  }

  .box-css {
    float: left;
    width: 48%;
    margin-right: 4%;
    min-height: 300px;
  }

  .box-css:nth-of-type(2n + 0) {
    margin-right: 0;
  }

  .main_footer .info {
    font-size: 1.4em;
  }
}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37.5em*/

@media (min-width: 37.5em) {
  .header_welcome .title {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.8em;
  }

  .topoPag .centraliza h1 {
    font-size: 3em;
    margin-top: 20px;
  }

  .main_content .topoPag .branco {
    display: block;
    font-size: 2em;
    letter-spacing: 0.3em;
  }

  .topoPag .img-mobile {
    display: none;
  }

  .topoPag .img-desktop {
    display: block;
    width: 100%;
  }

  .section-chamada .mascara {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicos {
    width: 50%;
  }

  .section-servicos .container {
    max-width: 100%;
  }

  .section-servicos .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .servicos .appFoto {
    border-radius: 10%;
    height: 15em;
    width: 15em;
  }

  .section-servicos .servicos_separator {
    width: 0;
    height: 0;
    background-color: #000;
    margin-bottom: 0;
    box-shadow: 0;
  }

  .section-valores_tabela {
    width: 80%;
    padding: 1.2em;
  }

  .section-valores_tabela th,
  .section-valores_tabela td {
    border: 1px solid var(--secundary);
    padding: 0.5em 1em 0.5em 0.5em;
  }

  .section-localizacao {
    margin: 2em;
  }

  .main_footer .info {
    font-size: 1.6em;
    padding: 0 4em;
  }
}

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width: 48em) {
  .coluna {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 0;
  }

  .coluna:nth-of-type(2n + 0) {
    margin-right: 0;
  }

  .section-valores_tabela {
    width: 70%;
    font-size: 1.4em;
  }

  .section-valores_tabela th,
  .section-valores_tabela td {
    padding: 0.5em;
  }

  .main_content .topoPag .branco {
    display: block;
    font-size: 2.5em;
  }
}

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width: 60em) {
  .title {
    font-size: 1.8em;
  }

  .topoPag .centraliza h1 {
    font-size: 4em;
  }

  .main_header .content {
    padding: 1em;
  }

  .section-localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-localizacao .content {
    max-width: 80%;
  }

  .section-localizacao .content .map {
    height: 25em;
  }
}

/*1000PX BREAKPOINT*/
/*1000 dividido por 16 = 62.5em*/
@media (min-width: 62.5em) {
  .header_welcome .title {
    font-size: 1.5em;
  }

  .header_welcome .destaque {
    letter-spacing: 3px;
    padding: 1em 0.3em;
  }
}

/*1196PX BREAKPOINT*/
/*1196 dividido por 16 = 74.75em*/
@media (min-width: 74.75em) {
  .section-servicos {
    padding: 2em 0;
  }
}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width: 80em) {
  .fixed + .main_content {
    padding-top: 100px;
  }

  .main_content .topoPag .branco {
    font-size: 3.6em;
  }

  .mobile_action {
    display: none;
  }

  .main_header_nav {
    float: right;
    width: auto;
  }

  .main_header_nav_item {
    display: inline-block;
  }

  .main_header_nav_item:last-of-type {
    margin-right: 20px;
  }

  .main_header_nav_item span {
    display: none;
  }

  .main_header_nav_item {
    padding: 1.3em 1em;
  }

  .main_header_nav_item > a {
    color: var(--primary);
    float: left;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 4px;
    overflow: hidden;
  }

  .main_header_nav_item > a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
  }

  .main_header_nav_item > a:hover::after {
    width: 100%;
  }

  .topoPag .centraliza h1 {
    font-size: 5.5em;
    margin-top: 50px;
    letter-spacing: 20px;
  }

  .section-servicos .content {
    justify-content: center;
  }

  .section-servicos .appFoto {
    width: 18em;
    height: 18em;
  }

  .servicos {
    flex: 1 1 23em;
    gap: 1em;
  }
}

@media (min-width: 93.75em) {
  .main_content .topoPag .branco {
    font-size: 4.6em;
  }
}

/*1600px BREAKPOINT*/
/*1600px dividido por 16 = 80em*/
@media (min-width: 100em) {
  .main_header .content {
    justify-content: space-around;
  }

  .title {
    font-size: 2.2em;
  }

  .section-servicos .descricao {
    font-size: 1.5em;
  }

  .section-localizacao {
    padding-bottom: 5em;
  }

  .section-localizacao .content .map {
    height: 35em;
  }
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transition: all 0.7s ease-in-out;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
